/*===== All styling =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
  color: #111;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 2rem 0;
}


/*===== Header section =====*/

header {
  background-color: #DDA0DD;
  padding: 1.5rem;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  color: #800080;
  font-weight: 600;
}

header p {
  font-size: 1.2rem;
  text-align: center;
  color: #800080;
  font-weight: 300;
}

/*===== Hero section =====*/
.hero-content {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  align-items: center;
  justify-content: center;
}

.hero-content .info {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  font-size: 1.2em;
}

/*===== Goal section =====*/
.goals {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
}

.goals h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #800080;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.goals ul {
  list-style-type: none;
  padding: 0;
  counter-reset: item;
}

.goals ul li {
  font-size: 1rem;
  color: #333333;
  padding: 0.5rem 0;
  position: relative;
  padding-left: 1.5rem;
  counter-increment: item;
}

.goals ul li:before {
  content: counter(item) ". ";
  position: absolute;
  left: 0;
  color: #800080;
  font-weight: 700;
}

/*===== Footer section =====*/
footer {
  background-color: #800080;
  color: #ffffff;
  padding: 1.5rem 0;
  text-align: center;
}

footer a {
  text-decoration: underline;
  color: #DDA0DD;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #FFFFFF;
}

footer .links p {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

footer .more-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/*===== Media queries  Small screens (mobile) =====*/
@media screen and (max-width: 550px) {
  header {
    padding: .8rem;
  }
  header h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .hero-content {
    gap: 2rem;
  }
  .hero-content .image {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .hero-content .image img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .hero-content .info {
    font-size: 0.9em;
    max-inline-size: 90%;
  }
  .hero-content .info {
    word-wrap: break-word;
  }
  footer .more-links {
    padding: 0 .8rem;
  }
}

/*===== Media queries  Medium screens (tablet) =====*/
@media screen and (min-width: 551px) and (max-width: 1200px) {
  .hero-content {
    gap: 4rem;
  }
  .hero-content .info {
    font-size: 1em;
  }
  .goals {
    width: 80%;
  }
}

/*===== Media queries  Large screens (desktop) =====*/
@media screen and (min-width: 1201px) {
  .hero-content {
    gap: 6rem;
  }
  .hero-content .info {
    font-size: 1.2em;
  }
  .goals {
    width: 60%;
  }
}
